* {
    box-sizing: border-box;
}

main {
    max-width: 1400px;
}
header h1 {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 38px;
}
header {
    background-image: url(hullamosviz.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1.5px solid black;
}
nav {
    font-size: 16px;
    gap: 2px;
    max-width: 500px;
    margin: auto;
    padding: 15px;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 150px 150px 150px 210px 150px;
    gap: 1px;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    box-shadow: 1px;
    opacity: 100%;
}
nav li {
    background-color: rgba(163, 163, 163,0.6);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
nav li:hover {
    background-color: brown;
}

.miert {
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
    max-width: 300px;
    padding-bottom: 88px;
    margin-bottom: 10px;
}
.miert img {
    width: 100%;
    max-width: 300px;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    margin: auto;
}
aside {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 650px;
    margin: auto;
    border-top: 1px solid black;
}
.rendezo {
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
    max-width: 300px;
    margin-bottom: 10px;
}
.rendezo img {
     width: 100%;
    max-width: 300px;
}
.velemeny {
    margin-top: 20px;
}

.rovidV {
    border: 1.5px solid grey;
    padding: 5px;
    margin: 5px;
    max-width: 650px;
    width: 650px;
}
.rovidV h3 {
    padding: 1px;
    margin: 1px;
}
.rovidV p {
    padding: 1px;
    margin: 1px;
}

@media screen and (max-width: 768px){
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    article {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr;
    }
    aside {
        display: grid;
        grid-template-columns: 1fr;
    }

}