* {
    box-sizing: border-box;
    margin: auto;
}

main {

}
header h1 {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 38px;
}
header {
    background-image: url(hullamosviz.jpeg);
    background-repeat: repeat;
    border: 1.5px solid black;
}
nav {
    font-size: 16px;
    gap: 2px;
    max-width: 500px;
    margin: auto;
    padding: 15px;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 150px 150px 150px 210px 150px;
    gap: 1px;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    box-shadow: 1px;
    opacity: 100%;
}
nav li {
    background-color: rgba(163, 163, 163,0.6);
    padding: 5px;
    border-radius: 10px;

}