* {
    box-sizing: border-box;
    margin: auto;
}

main {

}
header h1 {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 38px;
}
header {
    background-image: url(hullamosviz.jpeg);
    background-repeat: repeat;
    border: 1.5px solid black;
}
nav {
    font-size: 16px;
    gap: 2px;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    box-shadow: 1px;
}